---
//@ts-ignore
import { t } from 'astro-i18n';
import Section from "@/lib/components/Core/Section.astro"
import Accordion from "../Common/Accordion/Accordion.svelte";
import AccordionItem from "../Common/Accordion/AccordionItem.svelte";


const faqAmount = 4;
let faqItems = [];
for (let i = 1; i <= faqAmount; i++) {
   faqItems.push({
      question: t(`pages.home.sections.faq.items.${i}.question`),
      answer: t(`pages.home.sections.faq.items.${i}.answer`),
   })
}
---

<Section 
   alt id={t('pages.home.sections.faq.id')}
   title={`${t('pages.home.sections.faq.title')}`}
   subtitle={`${t('pages.home.sections.faq.text')}`}
>
   <Accordion element="ul" client:load>

      { faqItems.map(item => 
         <AccordionItem 
            client:load
            icon="ph:question-duotone" element="li"
            title={item.question}
         >
            <p>{item.answer}</p>
         </AccordionItem>
      )}

      <!-- {#each Object.keys($LL.pages.home.sections.faq.items) as item}
         <AccordionItem
            icon="ph:question-duotone" element="li"
            title={$LL.pages.home.sections.faq.items[item].question()}
         >
            <p>{$LL.pages.home.sections.faq.items[item].answer()}</p>
         </AccordionItem>
      {/each} -->
   </Accordion>
</Section>