---
import { t, l } from "astro-i18n";
import services from "@/lib/config/services";

import PageLayout from "@/layouts/PageLayout.astro";
import Section from "@/lib/components/Core/Section.astro";
import HeroHome from "@/lib/components/Common/Hero/HeroHome.svelte";
import CallToAction from "@/lib/components/Content/CallToAction.astro";
import Faq from "@/lib/components/Content/Faq.astro";
import Card from "@/lib/components/Common/Card/Card.astro";

const servicesCards: {icon: string, title: string, slug: string, key: string, text: string}[] = Object.entries(services).map((
      [key, { enabled, icon, slug }]
   ) => {
      return {
         enabled, key, icon: icon, slug,
         title: t(`services.${key}.intro_card.title`),
         text: t(`services.${key}.intro_card.text`),
      }
   }).filter((item) => item.enabled);
---

<PageLayout title="Home">

	<HeroHome slot="hero" client:load />

	<!-- SERVICES -->
   <Section 
      id={t('pages.home.sections.what_we_do.id')}
      title={t('pages.home.sections.what_we_do.title')}
   >
		<ul class="grid-1-2-3">
			{servicesCards.map(({icon, title, key, text, slug}) => (
				<li><Card
					{icon} {title}
					href={l(`${l('solutions')}/${slug}`)}>
					{text}
				</Card></li>
			))}
		</ul>
   </Section>
   <!-- END SERVICES -->

   <!-- CTA -->
   <CallToAction />
   <!-- END CTA -->
   
   <!-- FAQ -->
   <Faq />
   <!-- END FAQ -->
</PageLayout>