---
   import { t, l } from "astro-i18n";
   import { website } from "@/lib/config";
   import { firstLetterCase } from "@/lib/utils/formatters/formatText";
   import { socials } from "@/lib/config";
   import services from "@/lib/config/services";
   import { contactIcons, servicesIcons, commonIcons, otherIcons } from "@/lib/config/icons";

   import Icon from "astro-icon";
   import AnimIcon from "@/lib/components/Media/AnimIcon/AnimIcon.svelte";
   import Logo from "@/lib/components/Media/Logo/Logo.astro";
   
   const footerSocials = Object.entries(socials).map(([key, value]: [string, string]) => ({ name: key, href: value, icon: contactIcons[key] }));
   let footerCols = [
      {  title: t('common.contact.us'),
         items: [
            { text: firstLetterCase(t('common.contact.via.form')), href: `${l('contact')}`, icon: contactIcons.form },
            { text: website.contact.email, href: `mailto:${website.contact.email}`, icon: contactIcons.email },
            { text: `+${website.contact.phone}`, href: `tel:00${website.contact.phone}`, icon: contactIcons.phone },
      ]},
      {  title: t('services.common.our_services'),
         items: Object.entries(services).map(([key, {enabled, slug}]: any) => {
            if (!enabled) return null;
            return { 
               text: t(`nav.solutions.items.${key}.title`), 
               href: l(`${slug}`), 
               icon: servicesIcons[key] 
            }
         })
      },
      {  title: t('pages.about.more_about_us'),
         items: [
            { text: t('nav.about.title'), href: `/${l('about')}`, icon: commonIcons.info },
            { text: t('nav.portfolio.title'), href: `/${l('portfolio')}`, icon: commonIcons.info },
            { text: t('pages.home.sections.faq.title'), href: `${l('')}/#faq`, icon: commonIcons.faq },
            { text: t('others.privacy_policy.title'), href: '/privacy-policy', icon: otherIcons.privacy_policy },
            { text: t('others.terms_conditions.title'), href: '/terms-conditions', icon: otherIcons.terms_conditions },
      ]}
   ]   

   const today = new Date();
---

<footer class='bg-slate-900 dark:bg-slate-950 w-full {klass}'>
   <div class="content w-def">
      <!-- SOCIALS -->
      <div class="
            w-full flex flex-col md:flex-row gap-2 xs:gap-4
            items-center justify-center md:justify-between 
            py-8"
      >
         <h3 class="text-surface-200 text-center md:text-start">
            {t('common.footer.socials.follow_us_on')}&nbsp{t('common.footer.socials.social_media')}!
         </h3>
         <ul class="
               w-full sm:w-5/6 md:w-full mx-auto 
               flex items-center justify-between md:justify-end gap-4">
            { footerSocials.map((socialItem) => (
               <li><a href={socialItem.href} target="_blank" rel="noopener noreferrer"
                      aria-label={`${t('footer.socials.check_out_our')} ${socialItem.name} ${t('footer.socials.page')}`}
                      title={`${t('footer.socials.check_out_our')} ${socialItem.name} ${t('footer.socials.page')}`}
                      class="btn btn-icon">
                  <AnimIcon icon={socialItem.icon} size='full'
                  />
               </a></li>
            ))}
         </ul>
      </div>
      <!-- END SOCIALS -->
      <hr/>
      <!-- GENERAL CONTENT -->
      <div class="
            w-full mx-auto 
            grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
         <!-- INFO COLS -->
         { footerCols.map((col, i) => (
            <div class={`
                  flex flex-col gap-2 py-8 
                  items-center justify-start md:items-start
                  ${ i === 0 ? 'order-3 md:order-2' 
                  : i === 1 ? 'order-1 md:order-3'
                  : i === 2 ? 'order-2 md:order-4' : '' }`}>
               <h4 class="h3 !text-surface-400 !text-center md:!text-start">{col.title}</h4>
               <ul class="flex flex-col items-start justify-start gap-2">

                  { col.items.map((item) => (
                     !!item && (
                        <li>
                           <a href={item.href} class="
                              trans-fast flex flex-row items-start justify-center gap-2 
                              text-primary hover:text-primary-100
                           ">
                              <Icon name={item.icon} class="w-6" />
                              {item.text}
                           </a>
                        </li>
                     )
                  ))}
               </ul>
            </div>
         ))}
         <!-- END INFO COLS -->
         <!-- LOGO -->
         <div class="
               flex flex-col items-center justify-center 
               md:flex-row space-x-2
               -space-y-3 order-4 md:order-1">
               <div class="h-16 w-16 flex items-center justify-center">
                  <Logo logoType="icon" size='full' />
               </div>
               <div class="h-16 w-40 flex items-center pt-8">
                  <Logo logoType="lettering" size='full' />
               </div>
         </div>
         <!-- END LOGO -->
      </div>
      <!-- END GENERAL CONTENT -->
      <hr/>
      <!-- COPYRIGHT STATEMENT -->
      <div class="py-4 w-full flex items-center justify-center">
         <p class="text-sm text-surface">&copy; {today.getFullYear()} Mist Media. {t('common.footer.rights_reserved')}</p>
      </div>
      <!-- END COPYRIGHT STATEMENT -->
   </div>
</footer>